.event {
  position: absolute;
  width: 100%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: red;
  }
}

.delete-event-btn {
  position: relative;
  top: 10px;
  left: 64px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  z-index: 10;
  &__icon {
    margin-right: 28px;
  }
}
