.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.create-event-btn {
  padding: 0 16px;
  border-radius: 20px;
  &__icon {
    margin-right: 8px;
    color:yellow
  }
}

.navigation {
  &__today-btn {
    border-radius: 8px;
    margin-left: 32px;
    padding: 0 16px;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
    font-size: 20px;
  }
}
